* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

.listMovie .listMovie__onTop {
  background: url(../img/back-news.png) no-repeat center center;
  background-size: cover;
  height: 100px;
}

.listMovie .listMovie__logo {
  border: 1px solid rgba(238, 238, 238, 0.88);
}

@media screen and (max-width: 768px) {
  .listMovie .listMovie__logo {
    border: none;
  }
}

.listMovie .listMovie__logo .nav-link {
  background-color: transparent;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.88);
}

.listMovie .listMovie__logo .nav-link:hover img {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .listMovie .listMovie__logo .nav-link {
    padding: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
}

.listMovie .listMovie__logo .nav-link.active img {
  opacity: 1;
}

.listMovie .listMovie__logo img {
  width: 70px;
  opacity: 0.5;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .listMovie .listMovie__logo img {
    width: 50px;
  }
}

@media screen and (max-width: 992px) {
  .listMovie .listMovie__logo .nav-pills {
    flex-direction: row !important;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__midOverflow {
  height: 700px;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .listMovie .listMovie__list .listMovie__list1 .listMovie__midOverflow {
    overflow-x: unset !important;
    height: 100%;
  }
}

.listMovie .listMovie__list .listMovie__list1 .nav-link {
  background-color: transparent;
  color: black;
  cursor: pointer;
  opacity: 0.5;
  transition: all .5s;
  border-bottom: 1px solid rgba(238, 238, 238, 0.88);
}

.listMovie .listMovie__list .listMovie__list1 .nav-link:hover {
  opacity: 1;
}

.listMovie .listMovie__list .listMovie__list1 .nav-link .listMovie__img {
  padding: 8px;
  margin: 0;
}

.listMovie .listMovie__list .listMovie__list1 .nav-link.active {
  opacity: 1;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__address1 {
  color: #8bc541;
  font-size: 14px;
  font-weight: 700;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__address1--GLX {
  color: #fb4226;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__address2 {
  font-size: 14px;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__address3 {
  font-size: 14px;
  color: #949494;
  margin: 0;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__chiTiet {
  font-size: 14px;
  color: #fb4226;
}

.listMovie .listMovie__list .listMovie__list1 .listMovie__chiTiet:hover {
  text-decoration: none;
}

.listMovie .listMovie__list .listMovie__border {
  border-left: 1px solid rgba(238, 238, 238, 0.88);
}

@media screen and (max-width: 768px) {
  .listMovie .listMovie__list .listMovie__border {
    margin-top: 70px;
  }
}

.listMovie .listMovie__list #v-pills-tabContent {
  /* Handle */
  height: 700px;
  overflow-x: hidden;
}

.listMovie .listMovie__list #v-pills-tabContent ::-webkit-scrollbar {
  width: 10px;
}

.listMovie .listMovie__list #v-pills-tabContent ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.listMovie .listMovie__list #v-pills-tabContent ::-webkit-scrollbar-thumb {
  background: #888;
}

@media screen and (max-width: 768px) {
  .listMovie .listMovie__list #v-pills-tabContent {
    overflow-x: unset;
    height: unset;
  }
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentLeft {
  text-align: center;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentLeft a {
  background-color: transparent;
  text-decoration: none;
  border: none;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentLeft a img {
  width: 50px;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentRight {
  font-size: 12px;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentRight span {
  background-color: #fb4226;
  color: white;
  padding: 3px;
  border-radius: 20%;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentRight h3 {
  font-size: 16px;
  display: inline;
  padding-left: 5px;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__contentRight p {
  margin: 0;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse {
  width: 100%;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .row {
  margin-right: 0;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .card {
  border: none;
  border-bottom: 1px solid rgba(238, 238, 238, 0.88);
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse h4 {
  font-size: 17px;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .listMovie__hours {
  background-color: rgba(246, 246, 246, 0.5);
  padding: 10px;
  max-width: 23%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .listMovie__hours:hover .listMovie__hours1 {
  color: #fb4226;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .listMovie__hours .listMovie__hours1 {
  color: #108f3e;
  font-size: 18px;
  font-weight: 700;
  transition: all .2s;
}

.listMovie .listMovie__list #v-pills-tabContent .listMovie__collapse .listMovie__hours .listMovie__hours2 {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 700;
}

.movieNews img {
  border-radius: 5px;
}

.movieNews #myTab {
  padding-top: 120px;
  background: url(../img/back-news.png) no-repeat center center;
  background-size: cover;
  justify-content: center;
  border: none;
}

.movieNews #myTab .nav-item .nav-link {
  font-size: 21px;
  color: black;
  transition: all 0.2s;
  border: none;
  height: 24px;
  line-height: 24px;
}

.movieNews #myTab .nav-item .nav-link:hover {
  font-size: 24px;
  border: none;
}

.movieNews #myTab .nav-item .nav-link.active {
  border: none;
  background-color: transparent;
  color: #fb4226;
  font-size: 24px;
}

.movieNews #myTabContent .movieNews__content {
  margin-top: 30px;
}

.movieNews #myTabContent .movieNews__content a:hover {
  text-decoration: none;
}

.movieNews #myTabContent .movieNews__content a h2 {
  font-size: 16px;
  color: black;
  transition: all 0.3s;
  padding-top: 10px;
}

.movieNews #myTabContent .movieNews__content a h2:hover {
  color: #fb4226;
}

.movieNews #myTabContent .movieNews__content p {
  font-size: 13px;
  color: #4a4a4a;
}

.movieNews #myTabContent .movieNews__content span {
  opacity: 0.5;
}

.movieNews #myTabContent .movieNews__content span .far {
  transition: all 0.3s;
  cursor: pointer;
}

.movieNews #myTabContent .movieNews__content span .far:hover {
  transform: scale(1.2);
}

.movieNews #myTabContent .news__right {
  display: flex;
  align-items: center;
}

.movieNews #myTabContent .news__right a {
  color: black;
  transition: all 0.3s;
  font-size: 15px;
}

.movieNews #myTabContent .news__right a:hover {
  text-decoration: none;
  color: #fb4226;
}

.movieNews #myTabContent .news__item {
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .movieNews #myTabContent .news__item {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .movieNews #myTabContent .news__item img {
    padding-left: 15px;
  }
}

.movieNews .movieNews__button {
  padding: 7px 25px;
  color: #949494;
  border: 1px solid #949494;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: white;
  display: block;
  margin: 30px auto;
  transition: all 0.3s;
}

.movieNews .movieNews__button:hover {
  color: white;
  background-color: #fb4226;
  border-color: #fb4226;
}

.freeApp {
  background: url(../img/freeApp-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 120px 0;
}

.freeApp .freeApp__content {
  display: flex;
  align-items: center;
}

.freeApp .freeApp__left {
  padding: 0 40px;
  align-items: center;
}

.freeApp .freeApp__left h2 {
  line-height: 1.6;
}

.freeApp .freeApp__left h3 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  padding: 20px 0;
}

.freeApp .freeApp__left button {
  padding: 7px 25px;
  background-color: #fb4226;
  border: #fb4226;
  color: white;
  border-radius: 5px;
}

.freeApp .freeApp__left p {
  margin-top: 15px;
}

.freeApp .freeApp__left p a {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__left {
    text-align: center;
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .freeApp .freeApp__left {
    text-align: center;
    padding: 0 30px;
  }
}

.freeApp .freeApp__right {
  text-align: center;
  display: inline-block;
  position: relative;
  width: 40%;
  height: 440px;
}

@media screen and (max-width: 1200px) {
  .freeApp .freeApp__right {
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__right {
    height: 540px;
  }
}

@media screen and (max-width: 768px) {
  .freeApp .freeApp__right {
    height: 440px;
  }
}

@media screen and (max-width: 576px) {
  .freeApp .freeApp__right {
    height: 380px;
  }
}

.freeApp .freeApp__right .freeApp__phone {
  width: 100%;
  height: 100%;
}

.freeApp .freeApp__right .owl-carousel {
  position: absolute;
  top: 9px;
  left: 6px;
  overflow: hidden;
  width: 95%;
  border-radius: 20px;
}

@media screen and (max-width: 1200px) {
  .freeApp .freeApp__right .owl-carousel {
    left: 5px;
  }
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__right .owl-carousel {
    left: 4px;
    width: 96%;
    padding-left: 3px;
  }
}

@media screen and (max-width: 768px) {
  .freeApp .freeApp__right .owl-carousel {
    width: 96%;
    left: 3px;
  }
}

@media screen and (max-width: 576px) {
  .freeApp .freeApp__right .owl-carousel {
    left: 2px;
    width: 96%;
  }
}

.freeApp .freeApp__right .owl-carousel .owl-stage-outer {
  border-radius: 26px;
}

@media screen and (max-width: 1200px) {
  .freeApp .freeApp__right .owl-carousel .owl-stage-outer {
    border-radius: 18px;
  }
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__right .owl-carousel .owl-stage-outer {
    border-radius: 26px;
  }
}

@media screen and (max-width: 768px) {
  .freeApp .freeApp__right .owl-carousel .owl-stage-outer {
    border-radius: 18px;
  }
}

.freeApp .freeApp__right .owl-carousel .item {
  height: 421px;
}

@media screen and (max-width: 1200px) {
  .freeApp .freeApp__right .owl-carousel .item {
    height: 383px;
  }
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__right .owl-carousel .item {
    height: 520px;
  }
}

@media screen and (max-width: 768px) {
  .freeApp .freeApp__right .owl-carousel .item {
    height: 420px;
  }
}

@media screen and (max-width: 576px) {
  .freeApp .freeApp__right .owl-carousel .item {
    height: 370px;
  }
}

.freeApp .freeApp__right .owl-carousel .item img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (max-width: 992px) {
  .freeApp .freeApp__content1 {
    margin-top: 40px;
  }
}

footer {
  background-color: #222;
}

footer .footer__top h3 {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  footer .footer__top h3 {
    display: none;
  }
}

footer .footer__tixContent {
  padding-top: 15px;
}

footer .footer__tixContent .footer__tixItem a {
  font-size: 13px;
  color: #949494;
  transition: all .3s;
  display: block;
  margin-bottom: 10px;
}

footer .footer__tixContent .footer__tixItem a:hover {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  footer .footer__tixContent .footer__tixItem .footer__faq, footer .footer__tixContent .footer__tixItem .footer__brandGuide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__tixContent .footer__tixItem .footer__deal {
    text-align: right;
  }
}

@media screen and (max-width: 992px) {
  footer .footer__partners {
    display: none;
  }
}

footer .footer__partners .footer__partnersContent {
  margin-left: 15px;
}

footer .footer__partners .footer__partnersContent a {
  margin-right: 20px;
}

footer .footer__partners .footer__partnersContent a:hover img {
  opacity: .7;
}

footer .footer__partners .footer__partnersContent img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

footer .footer__partners .footer__partnersContent .row {
  margin-top: 16px;
}

footer .footer__mobileApp .footer__mobileApp--Item, footer .footer__mobileApp .footer__social--Item, footer .footer__social .footer__mobileApp--Item, footer .footer__social .footer__social--Item {
  margin-top: 15px;
}

footer .footer__mobileApp a, footer .footer__social a {
  text-decoration: none;
  color: #949494;
  margin-right: 15px;
}

footer .footer__mobileApp a img, footer .footer__social a img {
  width: 25px;
}

@media screen and (max-width: 992px) {
  footer .footer__mobileApp .footer__mobileApp--Item, footer .footer__social .footer__mobileApp--Item {
    display: none;
  }
}

footer .footer__social a img {
  width: 30px;
}

@media screen and (max-width: 992px) {
  footer .footer__social .footer__social--Item {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__social .footer__social--Item {
    justify-content: center;
  }
}

footer .footer__bot {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #4a4a4a;
}

footer .footer__bot h3 {
  font-size: 13px;
}

footer .footer__bot .footer__zion img {
  border-radius: 5px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer .footer__bot .footer__zion img {
    width: 20%;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__bot .footer__zion {
    text-align: center;
    margin-bottom: 20px;
  }
}

footer .footer__bot .footer__botAddress p {
  color: #949494;
  font-size: 12px;
  margin-bottom: 2px;
}

footer .footer__bot .footer__botAddress .footer__email {
  color: #fb4226;
}

footer .footer__bot .footer__botAddress .footer__email:hover {
  text-decoration: none;
  animation: changeColor 1s infinite;
}

@media screen and (max-width: 992px) {
  footer .footer__bot .footer__botAddress {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__bot .footer__boCongThuong img {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__bot .footer__boCongThuong {
    text-align: center;
    margin-top: 10px;
  }
}

@keyframes changeColor {
  0% {
    color: #fb4226;
  }
  50% {
    color: #8a1c0b;
  }
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

header nav {
  background-color: rgba(255, 255, 255, 0.9) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

header nav .header__logo img {
  width: 50px;
}

header nav #headerNavbarSupportedContent {
  justify-content: flex-end;
}

@media screen and (min-width: 992px) {
  header nav #headerNavbarSupportedContent ul.navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

header nav #headerNavbarSupportedContent ul.navbar-nav li {
  padding-right: 10px;
}

header nav #headerNavbarSupportedContent ul.navbar-nav li a.nav-link {
  font-size: 14px;
  color: black;
  font-weight: 500;
  transition: all .2s;
}

header nav #headerNavbarSupportedContent ul.navbar-nav li a.nav-link:hover {
  color: #fb4226;
}

@media screen and (max-width: 992px) {
  header nav #headerNavbarSupportedContent ul.navbar-nav li a.nav-link {
    text-align: center;
  }
}

header nav #headerNavbarSupportedContent ul.navbar-nav .header__login {
  display: none;
  text-decoration: none;
  color: #9b9b9b;
  font-size: 13px;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 10px;
}

header nav #headerNavbarSupportedContent ul.navbar-nav .header__login img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

@media screen and (max-width: 992px) {
  header nav #headerNavbarSupportedContent ul.navbar-nav .header__login {
    display: block;
  }
}

@media screen and (max-width: 992px) {
  header nav #headerNavbarSupportedContent .header__form {
    display: none;
  }
}

header nav #headerNavbarSupportedContent .header__form a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 13px;
  margin-right: 10px;
}

header nav #headerNavbarSupportedContent .header__form a img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

header nav #headerNavbarSupportedContent .header__form .header__dropdown button {
  background-color: #fff;
  color: #9b9b9b;
  font-size: 13px;
  border: 1px solid #e4e4e4;
}

header nav #headerNavbarSupportedContent .header__form .header__dropdown button:focus {
  box-shadow: unset;
}

header nav #headerNavbarSupportedContent .header__form .header__dropdown .dropdown-menu.show {
  min-width: unset;
}

.movieCarousel {
  padding-top: 64px;
  position: relative;
}

.movieCarousel .owl-carousel {
  position: relative;
}

.movieCarousel .owl-carousel .item {
  cursor: pointer;
}

.movieCarousel .owl-carousel .item img {
  display: block;
  width: 100%;
  height: 650px;
}

@media screen and (max-width: 1200px) {
  .movieCarousel .owl-carousel .item img {
    height: 550px;
  }
}

@media screen and (max-width: 992px) {
  .movieCarousel .owl-carousel .item img {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .movieCarousel .owl-carousel .item img {
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  .movieCarousel .owl-carousel .item img {
    height: 230px;
  }
}

.movieCarousel .owl-carousel .item:hover .movieCarousel__playBtn {
  opacity: 1;
}

.movieCarousel .owl-carousel .item .movieCarousel__playBtn {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  line-height: 68px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.5);
  transition: all .4s;
  opacity: 0;
}

.movieCarousel .owl-carousel .item .movieCarousel__playBtn:hover {
  opacity: 0.7;
}

.movieCarousel .owl-carousel .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.movieCarousel .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.movieCarousel .owl-carousel .owl-dots .owl-dot:hover span {
  background: #D6D6D6;
}

.movieCarousel .owl-carousel .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}

.movieCarousel .owl-carousel .owl-dots .owl-dot.active span {
  background: #fb4226;
}

.movieCarousel .owl-nav .owl-prev {
  position: absolute;
  top: 30%;
  left: 10px;
}

@media screen and (max-width: 992px) {
  .movieCarousel .owl-nav .owl-prev {
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .movieCarousel .owl-nav .owl-prev {
    top: 20%;
  }
}

@media screen and (max-width: 576px) {
  .movieCarousel .owl-nav .owl-prev {
    top: 10%;
  }
}

.movieCarousel .owl-nav .owl-prev:hover {
  background: unset;
}

.movieCarousel .owl-nav .owl-prev:focus {
  outline: none;
}

.movieCarousel .owl-nav .owl-prev span {
  font-size: 100px;
  color: #9b9b9b;
  opacity: 0.7;
}

.movieCarousel .owl-nav .owl-next {
  position: absolute;
  top: 30%;
  right: 10px;
}

@media screen and (max-width: 992px) {
  .movieCarousel .owl-nav .owl-next {
    top: 25%;
  }
}

@media screen and (max-width: 768px) {
  .movieCarousel .owl-nav .owl-next {
    top: 20%;
  }
}

@media screen and (max-width: 576px) {
  .movieCarousel .owl-nav .owl-next {
    top: 10%;
  }
}

.movieCarousel .owl-nav .owl-next:hover {
  background: unset;
}

.movieCarousel .owl-nav .owl-next:focus {
  outline: none;
}

.movieCarousel .owl-nav .owl-next span {
  font-size: 100px;
  color: #9b9b9b;
  opacity: 0.7;
}

@media screen and (min-width: 992px) {
  .buyTickets {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .buyTickets {
    margin-top: 40px;
  }
}

.buyTickets .container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 5px #888888;
}

.buyTickets .row {
  height: 70px;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .buyTickets .row {
    height: unset;
  }
}

.buyTickets .row .buyTickets__movieName {
  padding-left: 10px;
  padding-right: 0;
}

@media screen and (max-width: 992px) {
  .buyTickets .row .buyTickets__movieName {
    padding: 10px;
  }
}

.buyTickets .row .buyTickets__movieName .form-control {
  font-size: 14px;
}

.buyTickets .row .buyTickets__movieName .form-control:focus {
  outline: none;
  border: 1px solid #9b9b9b;
  box-shadow: unset;
}

.buyTickets .row .buyTickets__divBuy {
  padding-right: 0;
  padding-left: 20px;
}

@media screen and (max-width: 992px) {
  .buyTickets .row .buyTickets__divBuy {
    padding: 10px;
  }
}

.buyTickets .row .buyTickets__divBuy .buyTickets__buy {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .buyTickets .row .buyTickets__divBuy .buyTickets__buy {
    padding: 10px 0;
    width: 100%;
  }
}

.tixHomeMovie {
  padding-top: 80px;
}

.tixHomeMovie .container ul.nav-tabs {
  justify-content: center;
  border-bottom: unset;
}

.tixHomeMovie .container ul.nav-tabs li.nav-item .nav-link.active {
  border: none;
  color: #fb4226;
  transform: scale(1.1);
}

.tixHomeMovie .container ul.nav-tabs li.nav-item .nav-link {
  font-size: 23px;
  border: none;
  color: black;
  transition: all .4s;
}

.tixHomeMovie .container ul.nav-tabs li.nav-item .nav-link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 850px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav {
    display: none;
  }
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 33%;
  left: -7%;
}

@media screen and (max-width: 992px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-prev {
    top: 37%;
    left: -10%;
  }
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-prev:hover {
  background: unset;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-prev:focus {
  outline: none;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-prev span {
  font-size: 120px;
  color: #9b9b9b;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 33%;
  right: -7%;
}

@media screen and (max-width: 992px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-next {
    top: 37%;
    right: -10%;
  }
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-next:hover {
  background: unset;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-next:focus {
  outline: none;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-nav .owl-next span {
  font-size: 120px;
  color: #9b9b9b;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-dots {
  display: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 850px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-dots {
    display: block;
  }
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .owl-dots .owl-dot:focus {
  outline: none;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item {
  height: 300px;
  cursor: pointer;
  margin-bottom: 200px;
}

@media screen and (max-width: 1200px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 576px) {
  .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item {
    margin-bottom: 450px;
  }
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item:hover .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie_imgOverlay {
  opacity: 1;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item:hover .tixHomeMovie_wrap .tixHomeMovie_item--content .tixHomeMovie_item--buyTicket {
  opacity: 1;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item:hover .tixHomeMovie_wrap .tixHomeMovie_item--content span, .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item:hover .tixHomeMovie_wrap .tixHomeMovie_item--content h2, .tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item:hover .tixHomeMovie_wrap .tixHomeMovie_item--content p {
  opacity: 0;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap {
  display: block;
  text-decoration: none;
  color: black;
  transition: all .5s;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img {
  position: relative;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie_imgOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
  opacity: 0;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie_imgOverlay .fa.fa-play {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 58px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: rgba(128, 128, 128, 0.253);
  transition: all .5s;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie_imgOverlay .fa.fa-play:hover {
  opacity: 0.7;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie__score {
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
  font-size: 12px;
  text-align: center;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  padding: 5px 7px;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie__score p {
  margin: 0;
  font-size: 17px;
  margin-bottom: -6px;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie__score i {
  font-size: 6px;
  color: #fb4226;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content {
  padding-top: 15px;
  position: relative;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content span {
  font-size: 14px;
  display: inline-block;
  padding: 2px 5px;
  color: white;
  background-color: green;
  border-radius: 5px;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content h2 {
  display: inline;
  font-size: 16px;
  opacity: 1;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content p {
  margin-bottom: 0;
  font-size: 12px;
  padding-top: 5px;
  color: #4a4a4a;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content .tixHomeMovie_item--buyTicket {
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  background-color: #fb4226;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  opacity: 0;
  transition: all .5s;
}

.tixHomeMovie .container #myTabContent #tixHomeMovie_dangChieu .owl-carousel .item .row .tixHomeMovie_item .tixHomeMovie_wrap .tixHomeMovie_item--content .tixHomeMovie_item--buyTicket:hover {
  background-color: #cc3018;
}
/*# sourceMappingURL=main.css.map */