.tixHomeMovie {
  padding-top: 80px;
  .container {
    ul.nav-tabs {
      justify-content: center;
      border-bottom: unset;
      li.nav-item {
        .nav-link.active {
          border: none;
          color: $color-red;
          transform: scale(1.1);
        }

        .nav-link {
          font-size: $fs-4 + 3;
          border: none;
          color: black;
          transition: all .4s;
          &:hover {
            transform: scale(1.1);
          }
        }
        
      }
    }

    #myTabContent {
      #tixHomeMovie_dangChieu{
        .owl-carousel {
          .owl-nav {
            @media screen and (max-width: 850px){
              display: none;
            }
            .owl-prev {
              position: absolute;
              top: 33%;
              left: -7%;
              @include respond-to ('lg'){
                top: 37%;
                left: -10%;
              }
              
              &:hover {
                background: unset;
              }
              &:focus {
                outline: none;
              }
              span {
                font-size: 120px;
                color: $color-gray5;
              }
            }

            .owl-next {
              position: absolute;
              top: 33%;
              right: -7%;
              @include respond-to ('lg'){
                top: 37%;
                right: -10%;
              }
              &:hover {
                background: unset;
              }
              &:focus {
                outline: none;
              }
              span {
                font-size: 120px;
                color: $color-gray5;
              }
            }
          }

          .owl-dots {
            display: none;
            margin-bottom: 20px;
            @media screen and (max-width: 850px){
              display: block;
            }
            .owl-dot {
              &:focus {
                outline: none;
              }
            }
          }

          .item {
            .row {
              .tixHomeMovie_item {
                height: 300px;
                cursor: pointer;
                margin-bottom: 200px;
                @include respond-to('xl'){
                  margin-bottom: 120px;
                }

                @include respond-to('md'){
                  margin-bottom: 150px;
                }

                @include respond-to('sm'){
                  margin-bottom: 450px;
                }
                
                &:hover .tixHomeMovie_wrap .tixHomeMovie_img .tixHomeMovie_imgOverlay {
                  opacity: 1;
                }

                &:hover .tixHomeMovie_wrap .tixHomeMovie_item--content .tixHomeMovie_item--buyTicket {
                  opacity: 1;
                }

                &:hover .tixHomeMovie_wrap .tixHomeMovie_item--content span, &:hover .tixHomeMovie_wrap .tixHomeMovie_item--content h2, &:hover .tixHomeMovie_wrap .tixHomeMovie_item--content p {
                  opacity: 0;
                }

                .tixHomeMovie_wrap {
                  display: block;
                  text-decoration: none;
                  color: black;
                  transition: all .5s;
  
                  .tixHomeMovie_img {
                    position: relative;
                    img {
                      width: 100%;
                      display: block;
                      border-radius: 5px;
                    }

                    .tixHomeMovie_imgOverlay{
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      top: 0;
                      left: 0;
                      background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
                      opacity: 0;
                      transition: all .5s;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .fa.fa-play {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        line-height: 58px;
                        border: 2px solid white;
                        border-radius: 50%;
                        text-align: center;
                        color: white;
                        background-color: rgba(128, 128, 128, 0.253);
                        transition: all .5s;
                        &:hover {
                          opacity: 0.7;
                        }
                      }
                    }

                    .tixHomeMovie__score{
                      position: absolute;
                      top: 12px;
                      right: 12px;
                      color: white;
                      font-size: $fs-1;
                      text-align: center;
                      background-color: rgba(12,27,54,.8);
                      border: 1px solid #1f2e46;
                      padding: 5px 7px;
                      p {
                        margin: 0;
                        font-size: $fs-3 - 1;
                        margin-bottom: -6px;
                      }

                      i {
                        font-size: 6px;
                        color: $color-red;
                      }
                    }
                  }

                  .tixHomeMovie_item--content {
                    padding-top: 15px;
                    position: relative;
                    span {
                      font-size: $fs-2;
                      display: inline-block;
                      padding: 2px 5px;
                      color: white;
                      background-color: green;
                      border-radius: 5px;
                    }
  
                    h2 {
                      display: inline;
                      font-size: $fs-2 + 2;
                      opacity: 1;
                    }
  
                    p {
                      margin-bottom: 0;
                      font-size: $fs-1;
                      padding-top: 5px;
                      color: $color-gray6;
                    }
                    
                    .tixHomeMovie_item--buyTicket {
                      display: inline-block;
                      padding: 10px 15px;
                      font-size: $fs-3;
                      width: 100%;
                      text-align: center;
                      border-radius: 5px;
                      background-color: $color-red;
                      text-decoration: none;
                      color: white;
                      position: absolute;
                      top: 0;
                      left: 0;
                      margin-top: 15px;
                      opacity: 0;
                      transition: all .5s;
                      &:hover {
                        background-color: #cc3018;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}